<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>主动收款</title>
    <link href="/css/Customer.css" type="text/css" rel="stylesheet"/>
    <link href="/css/ks.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#allBox").click(function () {
                $("input").prop("checked", true);
            }),
            $("#notAllBox").click(function () {
                $("input").prop("checked", false);
            })
        })
    </script>
</head>
<body>

<div class="banner">
    <div class="bgh">
        <div class="page">
            <div id="logo">
                <a href="../Index.html">
                    <img src="/images/Images/Student/logo2.png" alt="" width="48" height="48"/>
                </a>
            </div>
            <div class="topxx">
                <h1>xxx，欢迎您！</h1>
                <a href="../../User/Account/ChangePasswd.html">密码修改</a>
                <a href="/user/toLogin">安全退出</a>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <div class="box mtop">
        <div class="leftbox">
            <div class="l_nav2">
                <div class="ta1">
                    <strong>个人中心</strong>
                    <div class="leftbgbt"></div>
                </div>
                <div class="cdlist">
                    <div>
                        <a href="MyInfo/StudentInfo.html">我的信息</a>
                    </div>
                    <div>
                        <a href="">收账人管理</a>
                    </div>
                    <div>
                        <a href="/payInfo/toPayInfoMessage">消息通知</a>
                    </div>
                    <div>
                        <a href="">交易记录</a>
                    </div>
                </div>
                <div class="ta1">
                    <strong>业务中心</strong>
                    <div class="leftbgbt2"></div>
                </div>
                <div class="cdlist">
                    <div>
                        <a href="">转账</a>
                    </div>
                    <div>
                        <a href="/payee/activeCollection">主动收款</a>
                    </div>
                    <div>
                        <a href="">资金归集</a>
                    </div>
                    <div>
                        <a href="">注销登录</a>
                    </div>
                </div>
                <!--结束-->
            </div>
        </div>
        <div class="rightbox">
            <h2 class="mbx">主动收款</h2>
            <b></b>
            <div align="center">
                <div>
                    <form action="/payee/activeCollection" method="post">
                        卡号：<input id="card" type="text" name="query.debtor"
                                  value="<#if paging.query??>${paging.query.debtor!''}</#if>"/><span
                                id="cardSpan"></span>
                        付款人：<input id="name" type="text" name="query.debtorName"
                                   value="<#if paging.query??>${paging.query.debtorName!''}</#if>"/><span
                                id="nameSpan"></span>
                        <input type="submit" value="查询"/>
                    </form>
                </div>
                <form action="/payee/addPayInfos" method="get">
                    <div>
                        <table align="center" class="table table-striped"
                               style="border-collapse:separate; border-spacing:10px 10px;">
                            <tr>
                                <td>&nbsp;&nbsp;<input type="button" id="allBox" value="全选" />
                                    <input type="button" id="notAllBox" value="取消全选" />
                                </td>
                                <td>&nbsp;&nbsp;卡号</td>
                                <td>&nbsp;&nbsp;用户名</td>
                                <td>&nbsp;欠款金额</td>
                            </tr>
                            <#list payees as p>
                                <tr>
                                    <td>&nbsp;&nbsp;<input type="checkbox" name="id" value="${p.debtor}"/></td>
                                    <td>&nbsp;&nbsp;${p.debtor}</td>
                                    <td>&nbsp;&nbsp;${p.debtorName}</td>
                                    <td>&nbsp;&nbsp;${p.fund}</td>
                                </tr>
                            </#list>
                        </table>
                        <a href="/payee/activeCollection?query.debtor=<#if paging.query??>${paging.query.debtor!''}</#if>&query.debtorName=<#if paging.query??>${paging.query.debtorName!''}</#if>&currentPage=1">首页</a>

                        <#if paging.currentPage<=1>
                            上一页
                        <#else>
                            <a href="/payee/activeCollection?query.debtor=<#if paging.query??>${paging.query.debtor!''}</#if>&query.debtorName=<#if paging.query??>${paging.query.debtorName!''}</#if>&currentPage=${paging.currentPage-1}">上一页</a>
                        </#if>

                        <#if paging.currentPage=paging.pages || paging.pages=0>
                            下一页
                        <#else>
                            <a href="/payee/activeCollection?query.debtor=<#if paging.query??>${paging.query.debtor!''}</#if>&query.debtorName=<#if paging.query??>${paging.query.debtorName!''}</#if>&currentPage=${paging.currentPage+1}">下一页</a>
                        </#if>

                        <a href="/payee/activeCollection?query.debtor=<#if paging.query??>${paging.query.debtor!''}</#if>&query.debtorName=<#if paging.query??>${paging.query.debtorName!''}</#if>&currentPage=${paging.pages}">尾页</a>
                        &nbsp;当前第${paging.currentPage}页&nbsp;&nbsp;共${paging.pages}页

                        <h3><input type="submit" value="批量收款"/></h3>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
