<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>归集转账信息界面</title>
	<link href="/css/ks.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.css" type="text/css"  rel="stylesheet"  />
	<link href="/css/Customer.css" type="text/css"  rel="stylesheet" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<script type="text/javascript" src="/js/jquery-2.1.4/jquery.js" ></script>
	<script src="/js/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">


</script>
</head>
<body>

	<div class="banner">
		<div class="bgh">
			<div class="page">
				<div id="logo">
					<a href="../Index.html"> 
						<img src="/images/Student/logo2.png" alt="" width="48" height="48" />
					</a>
				</div>
				<div class="topxx">
					<h1>xxx，欢迎您！</h1>
					<a href="../../User/Account/ChangePasswd.html">密码修改</a> 
					<a href="####">安全退出</a>
				</div>

			</div>
		</div>
	</div>
	<div class="page">
		<div class="box mtop">
			<div class="leftbox">
				<div class="l_nav2">
					<div class="ta1">
						<strong>个人中心</strong>
						<div class="leftbgbt"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="MyInfo/StudentInfo.html">我的信息</a>
						</div>
						<div>
							<a href="">收账人管理</a>
						</div>
						<div>
							<a href="">消息通知</a>
						</div>
						<div>
							<a href="">交易记录</a>
						</div>
					</div>
					<div class="ta1">
						<strong>业务中心</strong>
						<div class="leftbgbt2"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="">转账</a>
						</div>
						<div>
							<a href="">主动收款</a>
						</div>
						<div>
							<a href="/cashSweep/loginAccountCollStatus">资金归集</a>
						</div>
						<div>
							<a href="">注销登录</a>
						</div>
					</div>
					<!--结束-->
				</div>
			</div>
			<div class="rightbox">
				<h2 class="mbx">子账户签约信息</h2>
				<b></b>
				<div align="center">
					<button> <a href="/cashSweep/loginAccountCollStatus">返回</a></button>&nbsp;&nbsp;&nbsp;
					<button><a href="/cashSweep/cancelColl?followAcc=${fenYe.query.qAccNo}">解除签约</a></button>
				</div>
				<div align="center">
					<form action="/cashSweep/queryTransfersByFenYe?query.qAccNo=${fenYe.query.qAccNo}" method="post">
						转入开始时间：<input type="date" name="query.startDate" value="<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>" />&nbsp;
						转入结束时间：<input type="date" name="query.endDate" value="<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>"/>&nbsp;
						<input type="submit" value="点击查询" />
					</form>
				</div>
				<div align="center">
					<table style="border-collapse: separate; border-spacing: 15px 10px;border: solid 2px;">
						<#if trans?? >
                            <tr>
                                <td> 转入账号 </td>
                                <td> 用户名 </td>
                                <td> 转入金额 </td>
                                <td> 转入银行 </td>
                                <td> 转入时间 </td>
                                <td> 流水号 </td>
                            </tr>
                            <#list trans as t>
                                <tr>
                                    <td> ${t.accIn!""} </td>
                                    <td> ${t.accInName!""} </td>
                                    <td> ${t.transFund!""}</td>
                                    <td> ${t.accInBank!""} </td>
                                    <td><#if t.dealDate??>${t.dealDate?string('yyyy-MM-dd')}</#if></td>
                                    <td> ${t.dealNo!""}</td>
                                </tr>
                            </#list>
						<#else>
                            ${message}
						</#if>
					</table>

					<#if (fenYe.pageCount>=2)>
                        <#if fenYe.page=1||fenYe.page=0>
                            首页
                        <#else>
                            <a href="/cashSweep/queryTransfersByFenYe?query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query??&&fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>&query.endDate=<#if fenYe.query??&&fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>&page=1">首页</a>
                        </#if>

                        <#if fenYe.page=1||fenYe.page=0>
                            上一页
                        <#else >
                            <a href="/cashSweep/queryTransfersByFenYe?query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query??&&fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>&query.endDate=<#if fenYe.query??&&fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>&page=${fenYe.page-1}">上一页</a>
                        </#if>
                        <#if (fenYe.pageCount>1)>
                            <#list 1..fenYe.pageCount as i>
                                <a href="/cashSweep/queryTransfersByFenYe?query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query??&&fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>&query.endDate=<#if fenYe.query??&&fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>&page=${i}">${i}</a>
                            </#list>
                        </#if>

                        <#if fenYe.page=fenYe.pageCount||fenYe.page=0>
                            下一页
                        <#else >
                            <a href="/cashSweep/queryTransfersByFenYe?query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query??&&fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>&query.endDate=<#if fenYe.query??&&fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>&page=${fenYe.page+1}">下一页</a>
                        </#if>

                        <#if fenYe.page=fenYe.pageCount||fenYe.page=0>
                            尾页
                        <#else >
                            <a href="/cashSweep/queryTransfersByFenYe?query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query??&&fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>&query.endDate=<#if fenYe.query??&&fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>&page=${fenYe.pageCount}">尾页</a>
                        </#if>
                        当前第${fenYe.page}页，共${fenYe.pageCount}页。<p>
					</#if>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
