<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>资金归集</title>
    <link href="/css/ks.css" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/css/Customer.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script type="text/javascript" src="/js/jquery-2.1.4/jquery.js"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        //卡号的正则表达式验证，正则通过后ajax提交
        $(function () {
            $("#mainAcc,#username,#signFund,#bankName").blur(function () {
                var mainAcc = $("#mainAcc").val();
                var textCard = /^[1-9][0-9]{18}$/;
                var username = $("#username").val();
                if (textCard.test(mainAcc)) {
					$("#cardSpan").html("合法的卡号").css({"color": "green", "font-size": "5"});
                    if (username !== "") {
                        //发送ajax请求
                        $.ajax({
                            //该ajax发送请求到那个地址处理
                            url: "/cashSweep/queryMainAccCollStatus",
                            //请求方式
                            type: "post",
                            //预计服务器返回的数据格式
                            dataType: "json",
                            //发送的数据(姓名和卡号)
                            data: {"username": username, "mainAcc": mainAcc},
                            /*
                                响应成功以后的回调函数,参数的data用来接收后台传递过来的数据
                             */
                            success: function (data) {
                                if (data.flag) {
                                    $("#sub").attr("disabled", false);
                                    $("#bankName").val(data.bankName);
                                    $("#nameSpan").html("用户正确").css({"color": "green", "font-size": "5"});
                                } else {
                                    $("#nameSpan").html(data.error).css({"color": "red", "font-size": "5"});
                                }
                            },
                            //响应失败以后执行的回调函数
                            error: function () {
                                alert("失败....");
                            }
                        })
                    }
                } else {
                    $("#cardSpan").html("请输入正确的16-19位卡号").css({"color": "red", "font-size": "5"});
                }
            }),
            
            //输入框只能输入数字
		 function checkNumber(){
   			if(!(((window.event.keyCode>=48)&&(window.event.keyCode<=57))||(window.event.keyCode==13))){ 
   				 window.event.keyCode=0; 
   				}
   			}
        });
    </script>
</head>
<body>

<div class="banner">
    <div class="bgh">
        <div class="page">
            <div id="logo">
                <img src="/images/Images/Student/logo2.png" alt="" width="48" height="48" />
            </div>
            <div class="topxx">
                <h1>${loginUser.userName!''}，欢迎您！</h1>
            </div>

        </div>
    </div>
</div>
<div class="page">
    <div class="box mtop">
        <div class="leftbox">
            <div class="l_nav2">
                <div class="ta1">
                    <strong>个人中心</strong>
                    <div class="leftbgbt"></div>
                </div>
                <div class="cdlist">
                    <div>
                        <a href="/user/queryCustom?accNo=${loginAccNo}">我的信息</a>
                    </div>
                    <div>
                        <a href="">收账人管理</a>
                    </div>
                    <div>
                        <a href="/payInfo/toPayInfoMessage">消息通知</a>
                    </div>
                    <div>
                        <a href="/user/toCustomRecord">交易记录</a>
                    </div>
                </div>
                <div class="ta1">
                    <strong>业务中心</strong>
                    <div class="leftbgbt2"></div>
                </div>
                <div class="cdlist">
                    <div>
                        <a href="/transfer/toTransfer">转账</a>
                    </div>
                    <div>
                        <a href="/payee/activeCollection">主动收款</a>
                    </div>
                    <div>
                        <a href="/cashSweep/loginAccountCollStatus">资金归集</a>
                    </div>
                    <div>
                        <a href="/user/logout">注销登录</a>
                    </div>
                </div>

                <!--结束-->
            </div>
        </div>
        <div class="rightbox">
            <h2 class="mbx">资金归集</h2>
            <b></b>
            <div align="center">
                <h5>您还没有签约，请签约。</h5>
                <br/>
                <form action="/cashSweep/signColl" method="post"><br/>
                	<table style="border-collapse: separate; border-spacing: 15px 10px;">
                		<tr>
                			<td> 用户名 ：</td>
                			<td> <input id="username" type="text" required="required" name="username" value="" style="width: 200px"/></td>
                			<td> <span id="nameSpan"></span></td>
                		</tr>
                		<tr>
                			<td> 签约卡号 ：</td>
                			<td> <input id="mainAcc" type="text" required="required" name="mainAcc" value="" style="width: 200px"/></td>
                			<td> <span id="cardSpan"></span> </td>
                		</tr>
                		<tr>
                			<td> 开户行：</td>
                			<td> <input id="bankName" name="bankName" value="" style="width: 200px"/></td>
                		</tr>
                		<tr>
                			<td> 签约金额 ：</td>
                			<td> <input id="signFund" type="text" required="required" οnkeypress="checkNumber();"  name="signFund" value="" style="width: 200px"/></td>
                		</tr>
                		<tr>
                			<td></td>
                			<td> <input id="sub" type="submit" disabled="disabled" value="提交"/></td>
                		</tr>
                	</table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
