<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>催款通知</title>
<link href="/css/ks.css" rel="stylesheet" type="text/css" />
<link href="/js/bootstrap.css" type="text/css"  rel="stylesheet"  />
<link href="/css/Customer.css" type="text/css"  rel="stylesheet" />
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
</head>
<body>

	<div class="banner">
		<div class="bgh">
			<div class="page">
				<div id="logo">
					<a href="../Index.html"> 
						<img src="../../img/Images/Student/logo2.png" alt="" width="48" height="48" />
					</a>
				</div>
				<div class="topxx">
					<h1>${loginUser.userName!''}，欢迎您！</h1>
					<a href="../../User/Account/ChangePasswd.html">密码修改</a> 
					<a href="/user/logout">安全退出</a>
				</div>

			</div>
		</div>
	</div>
	<div class="page">
		<div class="box mtop">
			<div class="leftbox">
				<div class="l_nav2">
					<div class="ta1">
						<strong>个人中心</strong>
						<div class="leftbgbt"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="/user/queryCustom?accNo=${loginAccNo}">我的信息</a>
						</div>
						<div>
							<a href="/UsualColl/queryUsualCollByFy">收账人管理</a>
						</div>
						<div>
							<a href="/payInfo/toPayInfoMessage">消息通知</a>
						</div>
						<div>
							<a href="/user/toCustomRecord">交易记录</a>
						</div>
					</div>
					<div class="ta1">
						<strong>业务中心</strong>
						<div class="leftbgbt2"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="/transfer/toTransfer">转账</a>
						</div>
						<div>
							<a href="/payee/activeCollection">主动收款</a>
						</div>
						<div>
							<a href="/cashSweep/loginAccountCollStatus">资金归集</a>
						</div>
						<div>
							<a href="/user/logout">注销登录</a>
						</div>
					</div>

					<!--结束-->
				</div>
			</div>
			<div class="rightbox">
			
				<h2 class="mbx">消息通知 &gt;催款通知</h2>
				<div id="message01">
					<table align="center">

                            <tr>
                                <td>消息内容</td>
                                <td>操作</td>
                            </tr>
						<#list payInfos as pi>
                            <tr>
                            <td><a href="/payInfo/toMessage03?creditorAcc=${pi.creditorAcc}" style="font-size: 20px">尊敬的用户你好，你收到一条来自"${pi.creditorName}"用户的催款通知，点击消息进行处理</a></td>
                            <td><a href="/payInfo/deletePayInfo?creditorAcc=${pi.creditorAcc}" style="font-size: 15px">删 除</a></td>
                            </tr>
					    </#list>
				</table>
					<a href="/payInfo/toPayInfoMessage?currentPage=1">首页</a>

					<#if paging.currentPage<=1>
						上一页
					<#else>
						<a href="/payInfo/toPayInfoMessage?currentPage=${paging.currentPage-1}">上一页</a>
					</#if>

					<#if paging.currentPage=paging.pages || paging.pages=0>
						下一页
					<#else>
						<a href="/payInfo/toPayInfoMessage?currentPage=${paging.currentPage+1}">下一页</a>
					</#if>

					<a href="/payInfo/toPayInfoMessage?currentPage=${paging.pages}">尾页</a>
					&nbsp;当前第${paging.currentPage}页&nbsp;&nbsp;共${paging.pages}页

				</div>
				
			</div>
				
		</div>
	</div>
</body>
</html>
