<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.IAdminDao">
    <select id="loginAdmin" resultType="com.zl.pojo.Admin" parameterType="com.zl.pojo.Admin">
        select * from T_ADMIN where NAME=#{name,jdbcType=VARCHAR} and PASSWORD=#{password,jdbcType=VARCHAR}
    </select>
</mapper>
