<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zl.dao.JobDao">
    <select id="getJob" parameterType="int" resultType="job">
        select acc_in accIn, acc_out accOut, trans_fund transFund, cron cron, currency currency from T_JOB where ID=#{id}
    </select>
    <update id="setJob" parameterType="job">
        update T_JOB set acc_in=#{accIn}, acc_out=#{accOut}, trans_fund=#{transFund}, cron=#{cron}, currency=#{currency} where ID=1
    </update>
</mapper>
