<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zl.dao.JobDao">
    <select id="getJob" parameterType="string" resultType="job">
        select acc_in accIn, acc_out accOut, trans_fund transFund, cron cron, currency currency from T_JOB where ACC_IN=#{accIn}
    </select>
    <insert id="setJob" parameterType="job">
        insert into T_JOB (acc_in, acc_out, trans_fund, cron, currency) VALUES (#{accIn},#{accOut},#{transFund},#{cron},#{currency})
    </insert>
</mapper>
