<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace:必须是对应接口的全路径
-->
<mapper namespace="com.zl.dao.UserDao">
    <update id="updateUserPwd" parameterType="user">
        update D_USER set USER_PWD=#{userPwd} where USER_ID=#{userId}
    </update>
    
    <select id="queryUserByAccNo" parameterType="string" resultType="user">
        select USER_ID userId,USER_NAME userName,USER_SEX userSex,USER_BIRTHDATE userBirthdate,USER_CERTNO userCertNo,
       USER_ADDR userAddr,USER_ZIPCODE userZipCode,USER_TELNO userTelNo,USER_PHONENO userPhone,USER_EMAIL userEmail,USER_PWD userPwd from D_CUSTOM where ACC_NO=#{accNo}
    </select>

</mapper>