<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>查看用户详情页面</title>
	<script src="https://cdn.bootcss.com/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.js"></script>
	<link href="/css/ks.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.css" type="text/css"  rel="stylesheet"  />
	<link href="/css/manager.css" type="text/css"  rel="stylesheet" />
	<link rel="stylesheet" href="/css/bootstrap.css" />

	<link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
	<link href="/css/jquery-ui-timepicker-addon.css" type="text/css" />

	<script type="text/javascript" src="/js/jquery.js" ></script>
	<script src="/js/bootstrap.js" type="text/javascript"></script>

	<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
	<script src="/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
	<script src="/js/jquery.ui.datepicker-zh-CN.js.js" type="text/javascript" charset="gb2312"></script>
	<script src="/js/jquery-ui-timepicker-zh-CN.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		if ($("#message").html()!=null&&$("#message").html()!=""){
			alert($("#message").html());
		};
		var mess=$("#mess").html();
		if("登入异常"==mess){
			$("#loginException").attr("disabled",true)
			$("#transferException").attr("disabled",false)
			$("#loginException01").css("display","block")
			$("#transferException01").css("display","none")
		};

		if("交易异常"==mess){
			$("#transferException").attr("disabled",true)
			$("#loginException").attr("disabled",false)
			$("#loginException01").css("display","none"),
					$("#transferException01").css("display","block")
		};

	})
</script>
	<script type="text/javascript">
		jQuery(function () {
			// 时间设置
			jQuery('#userTime').datetimepicker({
				timeFormat: "HH:mm:ss",
				dateFormat: "yy-mm-dd"
			});
			jQuery('#accTime').datetimepicker({
				timeFormat: "HH:mm:ss",
				dateFormat: "yy-mm-dd"
			});

		});
	</script>
</head>
<body>
<div id="message" style="">${message!""}</div>
<div id="mess" style="display: none">${mess!""}</div>
	<div class="banner">
		<div class="bgh">
			<div class="page">
				<div id="logo">
					<a href="../Index.html"> 
						<img src="/images/Images/Student/logo2.png" alt="" width="48" height="48" />
					</a>
				</div>
				<div class="topxx">
					<h1>${loginUser.name!""} 管理员，欢迎您！</h1>
				</div>

			</div>
		</div>
	</div>
	<div class="page">
		<div class="box mtop">
			<div class="leftbox">
				<div class="l_nav2">
					<div class="ta1">
						<strong>管理中心</strong>
						<div class="leftbgbt"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="/custom/allCustom">所有账户</a>
						</div>
						<div>
							<a href="/admin/toUpdateAdmin">修改密码</a>
						</div>
						<div>
							<a href="/custom/toAllRecord">交易总记录</a>
						</div>
						<div>
							<a href="/admin/logout">注销登录</a>
						</div>
					</div>
					
					<!--结束-->
				</div>
			</div>
			<div class="rightbox">
				<h2 class="mbx">异常记录</h2>
				<b></b>
				<div align="center">
					<button><h5><a href="/custom/toInformation?accNo=${accNo!""}">账户信息</a></h5></button>
					<button><h5><a href="/custom/toCustomRecord?accNo=${accNo!""}">交易记录</a></h5></button>
					<button><h5><a href="/custom/toCustomLogin?accNo=${accNo!""}">登录记录</a></h5></button>
					<button disabled="disabled"><h5><a href="/custom/toCustomLogException?accNo=${accNo!""}">异常记录</a></h5></button>
				</div>
				<p> </p>
				<div align="center">
					<button id="loginException"><a href="/custom/toCustomLogException?accNo=${accNo!""}">登录异常</a></button>
					<button id="transferException"><a href="/custom/toCustomTranException?accNo=${accNo!""}">转账异常</a></button>
				</div>
				<p> </p>
				<!--登录异常div-->
				<div id="loginException01" style="display: none;" align="center">
					
					<table class="table table-hover" style=" width: 800px; border-collapse: separate; border: solid 2px;">
						<tr class="active">
							<td> 序号</td>
							<td> 主机名</td>
							<td> 登入ip </td>
							<td> 登入时间 </td>
							<td> 登入状态</td>
							<td> 当天登次</td>
							<td> 连续登入错误数</td>
							<td> 原因 </td>
						</tr>
						<#list loginList as n>
							<tr>
								<td>${n_index!""}</td>
								<td>${n.hostName!""}</td>
								<td>${n.loginIp!""}</td>
								<td><#if n.loginTime??>${n.loginTime?string('yyyy-MM-dd HH:mm:ss')}</#if></td>
								<td>${n.loginStatus!""}</td>
								<td>${n.loginCount!""}</td>
								<td>${n.loginError!""}</td>
								<td>${n.loginOdd!""}</td>
							</tr>
						</#list>
						
					</table>
				</div>
				<!--登录异常div-->
				
				<!--转账异常div-->
				<div id="transferException01" style="display: none;" align="center">
					
					<table class="table table-hover" style="border-collapse: separate; border: solid 1px;">
						<tr class="active">
							<td width="44">序号</td>
							<td>转入账号</td>
							<td width="75">银行归属</td>
							<td width="75">转入用户</td>
							<td>转出账号</td>
							<td width="75">银行归属</td>
							<td width="75">转出用户</td>
							<td width="75">交易金额</td>
							<td width="101">交易时间</td>
							<td width="44">交易类型</td>
							<td>交易状态</td>
							<td width="58">币种</td>
							<td width="44">业务类型</td>
							<td>流水号</td>
						</tr>
						<#list transList as n>
							<tr>
								<td>${n_index!""}</td>
								<td>${n.accIn!""}</td>
								<td>${n.accInBank!""}</td>
								<td>${n.accInName!""}</td>ACC_OUT
								<td>${n.accOut!""}</td>
								<td>${n.accOutBank!""}</td>
								<td>${n.accOutName!""}</td>
								<td>${n.transFund!""}</td>
								<td><#if n.dealDate??>${n.dealDate?string('yyyy-MM-dd HH:mm:ss')}</#if></td>
								<td><#if n.transType=='1'>跨行</#if><#if n.transType=='2'>跨境</#if><#if n.transType=='0'>同行</#if></td>
								<td>${n.transStatus!""}</td>
								<td>${n.currency!""}</td>
								<td>${n.kind!""}</td>
								<td>${n.dealNo!""}</td>
							</tr>
						</#list>
						
					</table>
				</div>
				<!--登录异常div-->
				
				
			</div>
		</div>
	</div>
</body>
</html>
