<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>查看用户详情页面</title>
<link href="/css/ks.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.css" type="text/css"  rel="stylesheet"  />
<link href="/css/manager.css" type="text/css"  rel="stylesheet" />
<link rel="stylesheet" href="/css/bootstrap.css" />
<script type="text/javascript" src="/js/jquery.js" ></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
</head>
<body>

	<div class="banner">
		<div class="bgh">
			<div class="page">
				<div id="logo">
					<a href="../Index.html"> 
						<img src="/images/Images/Student/logo2.png" alt="" width="48" height="48" />
					</a>
				</div>
				<div class="topxx">
					<h1>${loginUser.name!""} 管理员，欢迎您！</h1>
				</div>

			</div>
		</div>
	</div>
	<div class="page">
		<div class="box mtop">
			<div class="leftbox">
				<div class="l_nav2">
					<div class="ta1">
						<strong>管理中心</strong>
						<div class="leftbgbt"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="/custom/allCustom">所有账户</a>
						</div>
						<div>
							<a href="/admin/toUpdateAdmin">修改密码</a>
						</div>
						<div>
							<a href="/custom/toAllRecord">交易总记录</a>
						</div>
						<div>
							<a href="/admin/logout">注销登录</a>
						</div>
					</div>
					
					<!--结束-->
				</div>
			</div>
			<div class="rightbox">
				<h2 class="mbx">登录记录</h2>
				<b></b>
				<div align="center">
					<button><h5><a href="/custom/toInformation?accNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>">账户信息</a></h5></button>
					<button><h5><a href="/custom/toCustomRecord?accNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>">交易记录</a></h5></button>
					<button disabled="disabled"><h5><a href="/custom/toCustomLogin?accNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>}">登录记录</a></h5></button>
					<button><h5><a href="/custom/toCustomLogException?accNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>">异常记录</a></h5></button>
				</div>
				<p> </p>
				<div align="center">
					<form action="/custom/toCustomLogin" method="post">
						<p>
							起始日期：<input type="date" name="query.startDate" value="<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>"/>
							结束日期：<input type="date" name="query.endDate" value="<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>"/>
						</p>
						<p>
							卡号：<input type="text" name="query.qAccNo" value="<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>" readonly="readonly"/>
							状态：
							<select name="query.qType">
								<option value="">请选择</option>
								<option value="成功" <#if fenYe.query??&&fenYe.query.qType='成功'>selected="selected"</#if>>登入成功</option>
								<option value="失败" <#if fenYe.query??&&fenYe.query.qType='失败'>selected="selected"</#if>>登入失败</option>
							</select>
							<input type="submit"   value="查询"/>
						</p>
					</form>
				</div>
				<p> </p>
				<div align="center">
					<form action="" method="post">
						<table class="table table-hover" style=" width: 700px; border-collapse: separate; border: solid 2px;">
							<tr class="active">
								<td> 序号</td>
								<td> 主机名</td>
								<td> 登入ip </td>
								<td> 登入时间 </td>
								<td> 登入状态</td>
								<td> 当天登入次数</td>
								<td> 连续登入错误次数</td>

							</tr>
							<#list loginList as n>
								<tr>
									<td>${n_index!""}</td>
									<td>${n.hostName!""}</td>
									<td>${n.loginIp!""}</td>
									<td><#if n.loginTime??>${n.loginTime?string('yyyy-MM-dd HH-mm-ss')}</#if></td>
									<td>${n.loginStatus!""}</td>
									<td>${n.loginCount!""}</td>
									<td>${n.loginError!""}</td>
								</tr>
							</#list>

						</table>
					</form>
					<a href="/custom/toCustomLogin?query.qType=<#if fenYe.query??>${fenYe.query.qType!''}</#if>&query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>&query.endDate=<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>&page=1">首页</a>
					<#if fenYe.page<=1>
						上一页
					<#else>
						<a href="/custom/toCustomLogin?query.qType=<#if fenYe.query??>${fenYe.query.qType!''}</#if>&query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>&query.endDate=<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>&page=${fenYe.page-1}">上一页</a>
					</#if>
					<#if fenYe.page=fenYe.pageCount || fenYe.pageCount=0>
						下一页
					<#else>
						<a href="/custom/toCustomLogin?query.qType=<#if fenYe.query??>${fenYe.query.qType!''}</#if>&query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>&query.endDate=<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>&page=${fenYe.page+1}">下一页</a>
					</#if>
					<a href="/custom/toCustomLogin?query.qType=<#if fenYe.query??>${fenYe.query.qType!''}</#if>&query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd')}</#if>&query.endDate=<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd')}</#if>&page=${fenYe.pageCount}">尾页</a>
					&nbsp;	当前第${fenYe.page}页&nbsp;共${fenYe.pageCount}页
					<p> </p>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>
