<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员主界面</title>
<script src="https://cdn.bootcss.com/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.js"></script>
<link href="/css/ks.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.css" type="text/css"  rel="stylesheet"  />
<link href="/css/manager.css" type="text/css"  rel="stylesheet" />
<link rel="stylesheet" href="/css/bootstrap.css" />
<script type="text/javascript" src="/js/jquery.js" ></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		if ($("#message").html()!=null&&$("#message").html()!=""){
			alert($("#message").html());
		};
</script>
</head>
<body>
	<div id="message" style="display: none">${message!""}</div>
	<div class="banner">
		<div class="bgh">
			<div class="page">
				<div id="logo">
					<a href="../Index.html"> 
						<img src="/images/Images/Student/logo2.png" alt="" width="48" height="48" />
					</a>
				</div>
				<div class="topxx">
					<h1>${loginUser.name!""} 管理员，欢迎您！</h1>
				</div>

			</div>
		</div>
	</div>
	<div class="page">
		<div class="box mtop">
			<div class="leftbox">
				<div class="l_nav2">
					<div class="ta1">
						<strong>管理中心</strong>
						<div class="leftbgbt"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="/custom/allCustom">所有账户</a>
						</div>
						<div>
							<a href="/admin/toUpdateAdmin">修改密码</a>
						</div>
						<div>
							<a href="/custom/toAllRecord">交易总记录</a>
						</div>
						<div>
							<a href="/admin/logout">注销登录</a>
						</div>
					</div>
					
					<!--结束-->
				</div>
			</div>
			<div class="rightbox">
				
				<div align="center">
					<h1>欢迎登录后台管理系统</h1>

				</div>
				
			</div>
		</div>
	</div>
</body>
</html>
