<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>交易总记录</title>
	<script src="https://cdn.bootcss.com/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.js"></script>
	<link href="/css/ks.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.css" type="text/css"  rel="stylesheet"  />
	<link href="/css/manager.css" type="text/css"  rel="stylesheet" />
	<link rel="stylesheet" href="/css/bootstrap.css" />

	<link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
	<link href="/css/jquery-ui-timepicker-addon.css" type="text/css" />

	<script type="text/javascript" src="/js/jquery.js" ></script>
	<script src="/js/bootstrap.js" type="text/javascript"></script>

	<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
	<script src="/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
	<script src="/js/jquery.ui.datepicker-zh-CN.js.js" type="text/javascript" charset="gb2312"></script>
	<script src="/js/jquery-ui-timepicker-zh-CN.js" type="text/javascript"></script>
	<script type="text/javascript">

	</script>
	<script type="text/javascript">
		jQuery(function () {
			// 时间设置
			jQuery('#userTime').datetimepicker({
				timeFormat: "HH:mm:ss",
				dateFormat: "yy-mm-dd"
			});
			jQuery('#accTime').datetimepicker({
				timeFormat: "HH:mm:ss",
				dateFormat: "yy-mm-dd"
			});

		});
	</script>

</head>
<body>

	<div class="banner">
		<div class="bgh">
			<div class="page">
				<div id="logo">
					<a href="../Index.html"> 
						<img src="/images/Images/Student/logo2.png" alt="" width="48" height="48" />
					</a>
				</div>
				<div class="topxx">
					<h1>${loginUser.name!""} 管理员，欢迎您！</h1>
				</div>

			</div>
		</div>
	</div>
	<div class="page">
		<div class="box mtop">
			<div class="leftbox">
				<div class="l_nav2">
					<div class="ta1">
						<strong>管理中心</strong>
						<div class="leftbgbt"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="/custom/allCustom">所有账户</a>
						</div>
						<div>
							<a href="/admin/toUpdateAdmin">修改密码</a>
						</div>
						<div>
							<a href="/custom/toAllRecord">交易总记录</a>
						</div>
						<div>
							<a href="/admin/logout">注销登录</a>
						</div>
					</div>
					
					<!--结束-->
				</div>
			</div>
			<div class="rightbox">
				<h2 class="mbx">交易总记录</h2>
				<b></b>
				<div align="center">
					<form action="/custom/toAllRecord" method="post">
						<p>
							起始日期：<input id="accTime" type="text" name="query.startDate" value="<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd HH:mm:ss')}</#if>"/>
							结束日期：<input id="userTime" type="text" name="query.endDate" value="<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd HH:mm:ss')}</#if>"/>
						</p>
						<p>
							卡号：<input type="text" name="query.qAccNo" value="<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>"/>
							状态：
							<select name="query.qType">
								<option value="">请选择</option>
								<option value="成功" <#if fenYe.query??&&fenYe.query.qType='成功'>selected="selected"</#if>>已成功订单</option>
								<option value="失败" <#if fenYe.query??&&fenYe.query.qType='失败'>selected="selected"</#if>>失败订单</option>
								<option value="待处理" <#if fenYe.query??&&fenYe.query.qType='待处理'>selected="selected"</#if>>待处理订单</option>
							</select>
							<input type="submit"   value="查询"/>
						</p>
					</form>
				</div>
				<p> </p>
				<div align="center">
					<form action="" method="post">
					<table class="table table-hover" style="border-collapse: separate; border: solid 1px;">
						<tr class="active">
							<td width="44">序号</td>
							<td>转入账号</td>
							<td width="75">银行归属</td>
							<td width="75">转入用户</td>
							<td>转出账号</td>
							<td width="75">银行归属</td>
							<td width="75">转出用户</td>
							<td width="75">交易金额</td>
							<td width="101">交易时间</td>
							<td width="44">交易类型</td>
							<td>交易状态</td>
							<td width="58">币种</td>
							<td width="44">业务类型</td>
							<td>流水号</td>
						</tr>
						<#list transfers as n>
							<tr>
								<td>${n_index!""}</td>
								<td>${n.accIn}</td>
								<td>${n.accInBank}</td>
								<td>${n.accInName}</td>
								<td>${n.accOut}</td>
								<td>${n.accOutBank}</td>
								<td>${n.accOutName}</td>
								<td>${n.transFund}</td>
								<td><#if n.dealDate??>${n.dealDate?string('yyyy-MM-dd HH:mm:ss')}</#if></td>
								<td><#if n.transType=='1'>跨行</#if><#if n.transType=='2'>跨境</#if><#if n.transType=='0'>同行</#if></td>
								<td>${n.transStatus}</td>
								<td>${n.currency}</td>
								<td>${n.kind}</td>
								<td>${n.dealNo}</td>
							</tr>
						</#list>
						
					</table>
					</form>
					<a href="/custom/toAllRecord?query.qType=<#if fenYe.query??>${fenYe.query.qType!''}</#if>&query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd HH:mm:ss')}</#if>&query.endDate=<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd HH:mm:ss')}</#if>&page=1">首页</a>
					<#if fenYe.page<=1>
						上一页
					<#else>
						<a href="/custom/toAllRecord?query.qType=<#if fenYe.query??>${fenYe.query.qType!''}</#if>&query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd HH:mm:ss')}</#if>&query.endDate=<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd HH:mm:ss')}</#if>&page=${fenYe.page-1}">上一页</a>
					</#if>
					<#if fenYe.page=fenYe.pageCount || fenYe.pageCount=0>
						下一页
					<#else>
						<a href="/custom/toAllRecord?query.qType=<#if fenYe.query??>${fenYe.query.qType!''}</#if>&query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd HH:mm:ss')}</#if>&query.endDate=<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd HH:mm:ss')}</#if>&page=${fenYe.page+1}">下一页</a>
					</#if>
					<a href="/custom/toAllRecord?query.qType=<#if fenYe.query??>${fenYe.query.qType!''}</#if>&query.qAccNo=<#if fenYe.query??>${fenYe.query.qAccNo!''}</#if>&query.startDate=<#if fenYe.query?? && fenYe.query.startDate??>${fenYe.query.startDate?string('yyyy-MM-dd HH:mm:ss')}</#if>&query.endDate=<#if fenYe.query?? && fenYe.query.endDate??>${fenYe.query.endDate?string('yyyy-MM-dd HH:mm:ss')}</#if>&page=${fenYe.pageCount}">尾页</a>
					&nbsp;	当前第${fenYe.page}页&nbsp;共${fenYe.pageCount}页
					<p> </p>
				</div>
				
				
			</div>
		</div>
	</div>
</body>
</html>
