<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>查看用户详情页面</title>
	<script src="https://cdn.bootcss.com/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.js"></script>
<link href="/css/ks.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.css" type="text/css"  rel="stylesheet"  />
<link href="/css/manager.css" type="text/css"  rel="stylesheet" />
<link rel="stylesheet" href="/css/bootstrap.css" />

	<link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
	<link href="/css/jquery-ui-timepicker-addon.css" type="text/css" />

<script type="text/javascript" src="/js/jquery.js" ></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>

	<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
	<script src="/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
	<script src="/js/jquery.ui.datepicker-zh-CN.js.js" type="text/javascript" charset="gb2312"></script>
	<script src="/js/jquery-ui-timepicker-zh-CN.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
	<script type="text/javascript">
		jQuery(function () {
			// 时间设置
			jQuery('#userTime').datetimepicker({
				timeFormat: "HH:mm:ss",
				dateFormat: "yy-mm-dd"
			});
			jQuery('#accTime').datetimepicker({
				timeFormat: "HH:mm:ss",
				dateFormat: "yy-mm-dd"
			});

		});
	</script>

</head>
<body>
	<div class="banner">
		<div class="bgh">
			<div class="page">
				<div id="logo">
					<a href="../Index.html"> 
						<img src="/images/Images/Student/logo2.png" alt="" width="48" height="48" />
					</a>
				</div>
				<div class="topxx">
					<h1>${loginUser.name!""} 管理员，欢迎您！</h1>
				</div>

			</div>
		</div>
	</div>
	<div class="page">
		<div class="box mtop">
			<div class="leftbox">
				<div class="l_nav2">
					<div class="ta1">
						<strong>管理中心</strong>
						<div class="leftbgbt"></div>
					</div>
					<div class="cdlist">
						<div>
							<a href="/custom/allCustom">所有账户</a>
						</div>
						<div>
							<a href="/admin/toUpdateAdmin">修改密码</a>
						</div>
						<div>
							<a href="/custom/toAllRecord">交易总记录</a>
						</div>
						<div>
							<a href="/admin/logout">注销登录</a>
						</div>
					</div>
					
					<!--结束-->
				</div>
			</div>
			<div class="rightbox">
				<h2 class="mbx">用户详情</h2>
				<b></b>
				<div align="center">
					<button disabled="disabled"><h5><a href="/custom/toInformation?accNo=${user.account.accNo}">账户信息</a></h5></button>
					<button><h5><a href="/custom/toCustomRecord?accNo=${user.account.accNo}">交易记录</a></h5></button>
					<button><h5><a href="/custom/toCustomLogin?accNo=${user.account.accNo}">登录记录</a></h5></button>
					<button><h5><a href="/custom/toCustomLogException?accNo=${user.account.accNo}">异常记录</a></h5></button>
				</div>
				<p> </p>
				<div align="center">
					<form action="/custom/updateCustom" method="post">
						<div style="width: 520px;height: 510px;">
							<div style="float: left;">
								<table class="table table-hover" style="border-collapse: separate;">
									<tr>
										<td>用户ID：</td>
										<td><input type="text" name="userId" value="${user.userId}" readonly="readonly" /></td>
                                        <td>银行卡号：</td>
                                        <td><input type="text" name="account.accNo" value="${user.account.accNo}" readonly="readonly" /></td>
									</tr>
									<tr>
										<td>用户名：</td>
										<td><input type="text" name="userName" value="${user.userName!""}" /></td>
                                        <td>银行代码：</td>
                                        <td><input type="text" name="account.accBankId" value="${user.account.accBankId!""}" readonly="readonly" /></td>
									</tr>
									<tr>
										<td>用户性别：</td>
										<td>
											<select name="userSex">
												<option value="1" <#if user.userSex='1'>selected="selected"</#if>>男</option>
											<option value="2" <#if user.userSex='2'>selected="selected"</#if>>女</option>
										</select>
										</td>
                                        <td>货币代码：</td>
                                        <td><input type="text" name="account.currType" value="${user.account.currType!""}" /></td>
									</tr>
									<tr>
										<td>出生日期：</td>
										<td><input id="userTime" type="text" name="userBirthdate" value="<#if user.userBirthdate??>${user.userBirthdate?string('yyyy-MM-dd HH:mm:ss')}</#if>" /></td>
                                        <td>账号状态：</td>
                                        <td>
                                            <select name="account.accStatus">
                                                <option value="0" <#if user.account.accStatus='0'>selected="selected"</#if>>冻结</option>
                                                <option value="1" <#if user.account.accStatus='1'>selected="selected"</#if>>启用</option>
                                            </select>
                                    </tr>
									</tr>
									<tr>
										<td>证件号码：</td>
										<td><input type="text" name="userCertNo" value="${user.userCertNo!""}" /></td>
                                        <td>交易限额：</td>
                                        <td><input type="text" name="account.accLimit" value="${user.account.accLimit!""}" /></td>
									</tr>
									<tr>
										<td>用户住址：</td>
										<td><input type="text" name="userAddr" value="${user.userAddr!""}" /></td>
                                        <td>账号资金：</td>
                                        <td><input type="text" name="account.accFund" value="${user.account.accFund!""}" /></td>
									</tr>
									<tr>
										<td>邮政编码：</td>
										<td><input type="text" name="userZipCode" value="${user.userZipCode!""}" /></td>
                                        <td>账号类型：</td>
                                        <td>
                                            <select name="account.accType">
                                                <option value="个人" <#if user.account.accType='个人'>selected="selected"</#if>>个人</option>
                                                <option value="企业" <#if user.account.accType='企业'>selected="selected"</#if>>企业</option>
                                            </select>
                                    </tr>
									</tr>
									<tr>
										<td>固定电话：</td>
										<td><input type="text" name="userTelNo" value="${user.userTelNo!""}" /></td>
                                        <td>开户时间：</td>
                                        <td><input id="accTime" type="text" name="account.accDate" value="<#if user.account.accDate??>${user.account.accDate?string('yyyy-MM-dd HH:mm:ss')}</#if>" /></td>
									</tr>
									<tr>
										<td>手机号码：</td>
										<td><input type="text" name="userPhoneNo" value="${user.userPhoneNo!""}" /></td>
                                        <td>支付密码：</td>
                                        <td><input type="text" name="account.accPwd" value="${user.account.accPwd!""}" /></td>
									</tr>
									<tr>
										<td>邮箱：</td>
										<td><input type="text" name="userEmail" value="${user.userEmail!""}" /></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
									</tr>
									<tr>
										<td>登录密码：</td>
										<td><input type="text" name="userPwd" value="${user.userPwd!""}" /></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
									</tr>

								</table>
							</div>
							<div style="clear: both;"></div>
							<button><a href="/custom/deleteCustom?userId=${user.userId!""}">删除</a></button>
							<button type="submit" value="修改">修改</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
